.wrapper {
  padding-block: 40px;
}

.container {
  max-width: 1260px;
  padding-inline: 30px;
  margin-inline: auto;
}

.section-image {
  img {
    display: block;
    width: 80%;
    margin-inline: auto;
  }
}

.rent {
  margin-top: 50px;
}
